/* Glossy effect for the titles */
.glossy-effect-bar {
    position: relative;
    overflow: hidden;
    /* Hide overflow for the glossy effect */
}

.glossy-effect-bar::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    /* Make sure it's larger than the parent */
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    animation: glossy-animation 2s infinite;
    /* Adjust duration for speed */
    transform: rotate(30deg);
}

@keyframes glossy-animation {
    0% {
        top: -100%;
        left: -100%;
    }

    100% {
        top: 100%;
        left: 100%;
    }

    /* 
    100% {
        top: -100%;
        left: -100%;
    } */
}


@keyframes scrollUp {
    0% {
        transform: translateY(100%);
        /* Start from below */
        opacity: 0;
        /* Initially hidden */
    }

    50% {
        opacity: 1;
        /* Fade in as it scrolls up */
    }

    100% {
        transform: translateY(0);
        /* End at original position */
        opacity: 1;
        /* Fully visible */
    }
}

.stats-card {
    animation: scrollUp 5s ease-in-out infinite;
    /* Adjust timing as necessary */
}