.glossy-effect {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    position: relative;
    overflow: hidden;
}

.glossy-effect::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);
    transition: transform 1s;
}

.glossy-effect:hover::before {
    transform: translateX(300%) translateY(300%) rotate(45deg);
}

/* Fade In Animation */
.scroll-widget {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.scroll-widget.animate-float {
    opacity: 1;
}